<li class="collection-item avatar">
  <img src="/static/images/flags/{{ post.country.logo_url }}" alt="" class="circle">
  <a class="modal-trigger" href="/+{{ post.author.username }}"><span class="title">{{ post.name }}</span></a>
  <a class="modal-trigger" href="#modal1"><span class="description">{{ post.tagline }}{{ post.day }}</span></a>
  <a href="#!" class="secondary-content">
    <button class="btn waves-effect waves-light" type="submit" name="action">Apply
        <i class="mdi-content-send right"></i>
    </button>
  </a>
</li>
